*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url(bg.png);
    background-size: cover;
}

.container{
    width: 100%;
    max-width: 650px;
    background: rgba(0, 0, 0, 0.5);
    padding: 28px;
    margin: 0 28px;
    border-radius: 10px;
    box-shadow: 2px 2px rgb(233, 152, 152);
}
.container img{
    position: absolute;
    top: 10px;
    left: calc(50% - 50px);
    width: 100px;
    border-radius: 50%;
}

.form-title{
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 6px;
    color: white;
    text-shadow: 2px 2px 2px black;
    border-bottom: solid 1px white;
}

.main-user-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.user-input-box:nth-child(2n){
    justify-content: end;
}

.user-input-box{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}
.user-input-box input:hover{
    background-color: rgb(37, 4, 184);
}
.user-input-box label{
    width: 95%;
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin: 5px 0;
}

.user-input-box input{
    height: 40px;
    width: 95%;
    border-radius: 7px;
    outline: none;
    border: 1px solid grey;
    padding: 0 10px;
    color: aliceblue;
}

.gender-title{
    color:white;
    font-size: 24px;
    font-weight: 600;
    border-bottom: 1px solid white;
}

.gender-category{
    margin: 15px 0;
    color: white;
}

.gender-category label{
    padding: 0 20px 0 5px;
}

.gender-category label,
.gender-category input,
.form-submit-btn input{
    cursor: pointer;
}
.city-group label{
    color:white;
    font-size: 20px;
    font-weight: 600;
}
.category-group{
    padding-bottom: 5px;
}
.form-submit-btn{
}
.check-group{
    text-align: center;
    display:block;
    padding: 40px 0px 5px 0px;
}
.check-group label{
    padding-right: 5px;
    color: white;
}
.form-submit-btn input{
    display: block;
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
    border:none;
    border-radius: 3px;
    color: rgb(247, 246, 246);
    background: rgba(18, 102, 228, 0.7);
}

.form-submit-btn input:hover{
    background: rgba(136, 97, 228, 0.7);
    color: rgb(255, 255, 255);
}
.container-sign-in {
    padding-top: 6px;
    text-align: center;
}
.container-sign-in p{
    color: whitesmoke;
}
a {
    color: rgb(212, 57, 205);
  }
a:hover{
    background-color: rgb(35, 22, 231);
}
@media(max-width: 600px){
    .container{
        min-width: 280px;
    }

    .user-input-box{
        margin-bottom: 12px;
        width: 100%;
    }

    .user-input-box:nth-child(2n){
        justify-content: space-between;
    }

    .gender-category{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .main-user-info{
        max-height: 380px;
        overflow: auto;
    }

    .main-user-info::-webkit-scrollbar{
        width: 0;
    }
}
